<div class="bs-example">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseElevenNine">Ravi Nath @ Blackbridge Communications</a>
                </h4>
            </div>
            <div id="collapseElevenNine" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Head of Digital</h5>
                    <p>It was a great pleasure having Irfan work for us.</p>
                    <p>As a senior full stack developer, he provided both technical and development solutions to all our technical requirements and more.</p>
                    <p>I highly recommend him.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTop">Theodora Evripidou @ LONO Creative</a>
                </h4>
            </div>
            <div id="collapseTop" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Senior Digital Account Manager</h5>
                    <p>Irfan was brought in to work as a back end developer on a big web build tool project we had to deliver which had a very tight deadline due to a hard launch.</p>
                    <p>Irfan was a pleasure to work with, he came up with solutions to any challenges we faced, very quick and efficient in his work, very communicative throughout the process and able to meet the deadlines we've put.</p>
                    <p>I highly recommend him.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">James Darell @ Havas Helia</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Project Director</h5>
                    <p>Irfan delivered a great finished product for what was a tricky brief with tight deadlines.</p>
                    <p>He worked collaboratively with numerous stakeholders and proved that he is a technically proficient developer who is able to deliver.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Neel Patel @ MediaCom</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Founder, Director</h5>
                    <p>Irfan brought a lot of experience and did an excellent job working as the Technical Lead Developer on a Shell YouTube channel at MediaCom.</p>
                    <p>His main role was to deliver a bespoke CMS & web services on a cloud platform. He was critical in helping setup the hosting configuration which included cloud-based load-balancers, web and database servers, as well as applied performance and security solutions. He also liaised with third-party developers/testers providing back-end security solutions.</p>
                    <p>Irfan not only brought expertise, but added personality and was great to work with.</p>
                    <p>In summary, I’d highly recommend him.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Gints Ligotnis @ Electric Jelly</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Team Leader</h5>
                    <p>I had a great time working alongside irfan.</p>
                    <p>He is very knowledgeable, skilled in MVC frameworks and the whole LAMP stack. He is always very keen to help and advise others in solving problems.</p>
                    <p>He Lead a team of three developers from the start. He setup, deployed testing and staging servers for our project. He also setup version control and continuous integration environment for our project.</p>
                    <p>I definitely recommend Irfan and look forward to working with him again. He is a true asset to any development team!</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">Rich Birch @ Traffic Digital</a>
                </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Technical Director</h5>
                    <p>Irfan is a great guy to work with. He's both lively and professional and understood the tasks at hand.</p>
                    <p>Irfan was able to take direction and deliver results with minimal supervision, and simply got on with the tasks at hand. Would be a pleasure to work with him again.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Tomasz Turczyński @ Catch Digital</a>
                </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Technical Director</h5>
                    <p>Irfan is approachable and great to work with</p>
                    <p>He is capable and intelligent developer who adapts to new challenges and technologies easily. While working for TAG he delivered several projects in Codeigniter and Drupal.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Jack Cascarino @ Digital Gurus</a>
                </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Tech Freelance Specialist</h5>
                    <p>Irfan is a pleasure to work with! He always delivers with quality and speed on all of the projects he has worked on for us! Look forward to the next project working with Irfan.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Zubair Parvez @ Digital Gurus</a>
                </h4>
            </div>
            <div id="collapseSeven" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Digital Technology Consultant</h5>
                    <p>Irfan is a reliable freelancer who does what he says he can do in the agreed time frames. Something which is a rare quality. Always on time and takes ownership of projects he works on. Will work with him again.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Harshil Shah @ Talent International</a>
                </h4>
            </div>
            <div id="collapseEight" class="panel-collapse collapse">
                <div class="panel-body">
                    <h5>Lead Contract Consultant</h5>
                    <p>Irfan has been great to work with.</p>
                    <p>He showed great amount of knowledge and had the ability to work fast and accurately when placed on this project. <br/>Committed to the contract and very passionate to deliver a high level of integrity to his role.I have no problems in recommending him and look forward to working with Irfan again.</p>
                </div>
            </div>
        </div>
    </div>
</div>