
<div ng-include="'app/partials/about/recommendationsViewb.html'">

</div>
<h3>I specialise in</h3>
<p class="about">I have been freelacing as a contractor for the last 5 years, with excellent reputation, especially among the london digital agencies.</p>
<ul class="about">
    <li>Creative Solutions</li>
    <li>Technical Consultation</li>
<li>SAAS Architect</li>
<li>Third Party Integration</li>
<li>Bespoke WEB / CMS applications</li>
<li>Youtube Channel</li>
<li>Facebook Apps</li>
<li>Social Apps</li>
<li>Mobile Apps</li>
<li>Frontend development</li>
<li>Backend development</li>
</ul>


