<div class="skills-item backend_item" data-category="backend_item">
    <h4 class="name">Creative<br/> Solutios</h4>
</div>
<div class="skills-item backend_item" data-category="backend_item">
    <h4 class="name">Creative<br/> Solutios</h4>
</div>
<div class="skills-item backend_item" data-category="backend_item">
    <h4 class="name">Creative<br/> Solutios</h4>
</div>
<div class="skills-item backend_item" data-category="backend_item">
    <h4 class="name">Creative<br/> Solutios</h4>
</div>
<div class="skills-item backend_item" data-category="backend_item">
    <h4 class="name">Creative<br/> Solutios</h4>
</div>
<div class="skills-item specialise_item " data-category="specialise_item">
    <h4 class="name">Creative<br/> Solutios</h4>
</div>