<div class="btn-group-wrap">
    <div id="filters" class="button-group filters-skills">
        <button class="button" id="btn_eve" data-filter="*">Skills</button>
        <button class="button" id="btn_specialise_item" data-filter=".specialise_item">Expertise</button>
        <button class="button" id="btn_frontend_item" data-filter=".frontend_item">Frontend</button>
        <button class="button" id="btn_backend_item" data-filter=".backend_item">Backend</button>
        <button class="button" id="btn_data_item" data-filter=".data_item">Data</button>
        <button class="button" id="btn_tool_item" data-filter=".tool_item">Devops</button>
        <button class="button" id="btn_pause"><span id="btn_pause_span">Pause</span></button>
    </div>
</div>
<div class="isotope" id="skills-isotope" >
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">Creative Solutios</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">Technical Consultation</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">Backend development</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">Frontend development</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">SAAS Architect</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">API Integration</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">E-commerce development</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">Bespoke Applications</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">Social Web Apps</h4>
    </div>
    <div class="skills-item specialise_item " data-category="specialise_item">
        <h4 class="name">Mobile Apps</h4>
    </div>
    <div class="skills-item backend_item" data-category="backend_item">
        <h4 class="name">PHP</h4>
    </div>
    <div class="skills-item backend_item" data-category="backend_item">
        <h4 class="name">Drupal</h4>
    </div>
    <div class="skills-item backend_item" data-category="backend_item">
        <h4 class="name">Wordpress</h4>
    </div>
    <div class="skills-item backend_item" data-category="backend_item">
        <h4 class="name">Zend Framework</h4>
    </div>
    <div class="skills-item backend_item" data-category="backend_item">
        <h4 class="name">Laravel</h4>
    </div>
    <div class="skills-item frontend_item" data-category="frontend_item">
        <h4 class="name">HTML5 Canvas</h4>
    </div>
    <div class="skills-item frontend_item" data-category="frontend_item">
        <h4 class="name">CSS SASS</h4>
    </div>
    <div class="skills-item frontend_item" data-category="frontend_item">
        <h4 class="name">Bootstrap</h4>
    </div>
    <div class="skills-item frontend_item" data-category="frontend_item">
        <h4 class="name">Javascript</h4>
    </div>
    <div class="skills-item frontend_item" data-category="frontend_item">
        <h4 class="name">AngularJS</h4>
    </div>
    <div class="skills-item frontend_item" data-category="frontend_item">
        <h4 class="name">Mean Stack</h4>
    </div>
    <div class="skills-item frontend_item" data-category="frontend_item">
        <h4 class="name">AJAX</h4>
    </div>
    <div class="skills-item data_item" data-category="data_item">
        <h4 class="name">MySql</h4>
    </div>
    <div class="skills-item  data_item frontend_item backend_item" data-category="data_item">
        <h4 class="name">MongoDB</h4>
    </div>
    <div class="skills-item  data_item backend_item" data-category="data_item">
        <h4 class="name">MsSql</h4>
    </div>
    <div class="skills-item  data_item frontend_item backend_item" data-category="data_item">
        <h4 class="name">Redis</h4>
    </div>
    <div class="skills-item  data_item backend_item" data-category="data_item">
        <h4 class="name">Memcache</h4>
    </div>
    <div class="skills-item  data_item backend_item" data-category="data_item">
        <h4 class="name">SOAP API</h4>
    </div>
    <div class="skills-item  data_item frontend_item backend_item" data-category="data_item">
        <h4 class="name">REST API</h4>
    </div>
    <div class="skills-item  data_item backend_item" data-category="data_item">
        <h4 class="name">SOAP</h4>
    </div>
    <div class="skills-item  data_item frontend_item backend_item" data-category="data_item">
        <h4 class="name">XML</h4>
    </div>
    <div class="skills-item  data_item frontend_item backend_item" data-category="data_item">
        <h4 class="name">JSON</h4>
    </div>
    <div class="skills-item  tool_item" data-category="tool_item">
        <h4 class="name">JMeter</h4>
    </div>
    <div class="skills-item  tool_item frontend_item" data-category="tool_item">
        <h4 class="name">Bower</h4>
    </div>
    <div class="skills-item  tool_item frontend_item" data-category="tool_item">
        <h4 class="name">Gulp</h4>
    </div>
    <div class="skills-item  tool_item frontend_item" data-category="tool_item">
        <h4 class="name">Grunt</h4>
    </div>
    <div class="skills-item  tool_item backend_item" data-category="tool_item">
        <h4 class="name">TDD</h4>
    </div>
    <div class="skills-item  tool_item" data-category="tool_item">
        <h4 class="name">Jenkins</h4>
    </div>
    <div class="skills-item  tool_item backend_item" data-category="tool_item">
        <h4 class="name">NodeJS</h4>
    </div>
</div>
<script>// external js: isotope.pkgd.js

$( document ).ready( function() {
    // init Isotope
    var $container = $('.isotope').isotope({
        itemSelector: '.skills-item',
        filter: '.frontend_item',

        getSortData: {
        }
    });

    // filter functions
    var filterFns = {
        // show if number is greater than 50
        numberGreaterThan50: function() {
            var number = $(this).find('.number').text();
            return parseInt( number, 10 ) > 50;
        },
        // show if name ends with -specialise_item
        specialise_item: function() {
            var name = $(this).find('.name').text();
            return name.match( /specialise_item$/ );
        }
    };

    // bind filter button click
    $('#filters').on( 'click', 'button', function() {
        var filterValue = $( this ).attr('data-filter');
        // use filterFn if matches value
        filterValue = filterFns[ filterValue ] || filterValue;
        $container.isotope({ filter: filterValue });
    });

    // bind sort button click
    $('#sorts').on( 'click', 'button', function() {
        var sortByValue = $(this).attr('data-sort-by');
        $container.isotope({ sortBy: sortByValue });
    });

    // change is-checked class on buttons
    $('.button-group').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', 'button', function() {
            $buttonGroup.find('.is-checked').removeClass('is-checked');
            $( this ).addClass('is-checked');
        });
    });



    //We have all the btn ids we need to select
    var buttons = [
        "specialise_item",
        "frontend_item",
        "backend_item",
        "data_item",
        "tool_item"];

    var colors = [
        "#F08",
        "#08F",
        "#0F8",
        "#FF0",
        "#F0F"];

        var count = 0

    //Call back function for timer
    function randomise_isotope() {

        //Start Check, so we run this timer code only on about page
        var url = window.location.href.split("/")
        var action = url[url.length - 1];

        if (action == 'about') {
            //End Check, so we run this timer code only on about page

            var btn;

            //We set all the buttons uncheck
            for (var i = 0; i < buttons.length; i++) {
                btn = buttons[i];
                $('#btn_' + btn).removeClass("is-checked");
            }





            //Now we get the button based on loop count, and check it, and set isotop filter for that button
            btn = buttons[count];
            $('#btn_' + btn).addClass("is-checked");
            $('.isotope').isotope({filter: '.' + btn});
            //console.log(count + " -> " + action);
            $('#usr-img, #top-text').css("color", colors[count]);

            if (count < buttons.length - 1) {
                count++;
            } else {
                count = 0;
            }

            //We restart timer as its only run once has to be re-run
            timer = setTimeout(randomise_isotope, 5000);
        } else {
            //We have left the page
            clearTimeout(timer);
        }
    }


    var timer = setTimeout(randomise_isotope, 5000);

    // bind to kill timer function
    $("#btn_pause").on('click', function () {

        var justStopped = $("#btn_pause_span").html() == 'Play' ? true : false;
        if (!justStopped) {
            $("#btn_pause_span").html('Play');
            clearTimeout(timer);
        } else {
            $("#btn_pause_span").html('Pause');
            timer = setTimeout(randomise_isotope, 5000);
        }
    });


});
</script>