.navbar {
  background-color: $nav-background-color;
  border-color: transparent;
}

.nav-tabs {
  border-bottom: 4px solid $nav-background-color;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: $nav-background-color;
  cursor: default;
  background-color: $nav-background-color;
  border: 0px solid $nav-background-color;
  border-bottom: 1px solid $nav-background-color;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: $nav-background-color;
  color:white;
}

.navbar .navbar-collapse, .navbar .navbar-form {
  border-color: transparent;
}

.navbar .navbar-nav > li > a {
  font-size: 12px;
  font-weight: 800;
  padding: 5px 0px;
  letter-spacing: 2px;
  margin: 10px 20px 10px 20px;
  color: #FFF;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  background-color: transparent;
  border-bottom: 1px solid rgb(228, 79, 79);
}

.navbar .navbar-brand, .navbar .navbar-brand:hover {
  color: #fff;
  font-weight: 900;
  font-family: 'Oswald', sans-serif;
}

.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background-color: rgb(228, 79, 79);
}

.navbar .navbar-toggle {
  border-color: rgb(228, 79, 79);
}

.navbar .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
  background-color: transparent;
  border-bottom: 1px dotted $colored_text;
  color: $colored_text;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  background-color: transparent;
  border-bottom: 1px dotted $colored_text;
  color: $colored_text;
}

.navbar .navbar-nav > li > a {
  padding: 5px 0px;
  letter-spacing: 2px;
  margin: 10px 20px 10px 20px;
  color: #FFF;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}
.navbar .navbar-nav > li > a:hover {
  color: #FFF;
}