    <section>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 ">
                <span class="section-head">
                        <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span>About me</h2>
                        <h3 id="top-text">I am a technical geek!</h3>
                </span>
                <div>
                    <hr>
                    <i id="usr-img" class="fa fa-user lrgIcons"></i>
                    <p>I am a Full Stack software engineer, with over 12 years of software development experience.</p>
                    <p>I am a problem solver by nature. Impossible is not part of my dictionary. I constantly seek to develop myself by building new creative things by learning/experimenting with new technologies.</p>
                    <p>I architect, develop, advise and contribute in all technical aspects of the project and solution. From discovery, conception to delivery. Discussing technical solutions with stakeholders, client facing and providing innovative new ideas to solutions is something I do on regular basis. Delivering expected results is the only thing that matters to me.</p>

                    <p>Team player, I am very friendly and fun to be work with. I respect my work and colleagues, but also enjoy a good laugh.</p>
                    <div style="clear:both;"></div>
                    <div  ng-include="'app/modules/about/partials/skills.html'"></div>
                    <h3>Recommendations & References</h3>
                    <hr/>
                    <i class="fa fa-thumbs-o-up lrgIcons"></i>
                    <p class="clearfix">I have been working as a freelance contractor for the last 6 years, with excellent reputation, especially among the London digital agencies.</p>
                    <div  ng-include="'app/modules/about/partials/recommendationsView.html'"></div>
                </div>
            </div>
        </div>
    </section>