    <section>
        <span class="section-head">
                <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span>About the Site</h3>
        </span>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                 ng-include="'app/partials/about/leftColumnView.html'">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"
                 ng-include="'app/partials/about/rightColumnView.html'">
            </div>
        </div>
    </section>
