<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
        <div id="carousel-slider" class="carousel slide"><!-- class of slide for animation -->
            <div class="carousel-inner">
              <div class="item active">
                  <h3>This site is strictly for "Educational and Research purposes only".</h3>
                  <p>This website is strictly not for profit. It is only for Research and Analysis in Data mining with new Technologies for experimental purpose only.</p>
                  <p>If you have any issue, with any of the experimental, educational material and content presented on this site, please <a href="/contact" >contact</a> me first.</p>
              </div>
                <div class="item">
                    <h3>Welcome, to my personal profile Website.</h3>
                    <p>Hi there. My Name is Irfan Mehmood. I am all things <strong>Technical, Creative, Development and Fun!</strong> I am the Founder & Technical director of <a href="http://www.digitalcook.co.uk">Digital Consultation & Development Company.</a></p>
                    <p>I work as a freelance technical consultant & a full Stack software engineer. I have over 15 years of development, devops, systems admin experience.</p>
                </div>
            </div>
            <a class="left slider-nav"  href="#carousel-slider" data-slide="prev"><i class="fa fa-arrow-circle-left"></i></a>
            <a class="right slider-nav" href="#carousel-slider" data-slide="next"><i class="fa fa-arrow-circle-right"></i></a>
        </div><!-- /.carousel -->
    </div>
</div>


<script>
        //$('#carousel-slider .carousel').carousel();
        $('.carousel').carousel({
            interval: 20000
        });
</script>
